.searchBackGradient {
  padding: 0em 3em;
  height: 8vh;
  background-color: var(--secondary-font);
  /* background: linear-gradient(
    to bottom,
    var(--secondary-font) 10%,
    transparent 99%
  ); */
}

.inputContainer {
  grid-column: span 3;
  width: 97%;
  padding: 0em;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: var(--secondary-font);
  /* border: 1px solid var(--accent); */
  /* border-radius: 0.5em; */
  transition: width 1000ms ease-in-out, margin-right 1000ms ease-in-out;
}

.searchInput {
  padding: 1em 1em;
  width: 100%;
  height: 80%;
  color: var(--accent);
  background-color: var(--main-bg-color);
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  font-weight: 600;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--accent);
}

.searchIcon:hover {
  cursor: pointer;
}
