.modeItemContainer {
  display: flex;
  justify-content: center;
  max-height: 160px;
  width: 100%;
  user-select: none;
}

.modePoster {
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 140px;
  border-radius: 0.5rem;
  transition: scale 300ms ease-in-out;
}

.modePoster:hover {
  cursor: pointer;
  scale: 1.05;
}

.modeMovieTitle {
  position: absolute;
  text-align: center;
  max-width: 30%;
  min-height: 15%;
  bottom: 0.5em;
  color: var(--accent);
}
