/* .movieListContainer {
} */

ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(min(100%, 200px), 1fr));
  padding: 1em 2em;
  margin: 0;
  list-style-type: none;
}

.itemContainer {
  display: flex;
  justify-content: center;
}

.poster {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px;
}
