.peopleItemContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 250px));
  user-select: none;
}

.peoplePosterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peoplePoster {
  aspect-ratio: 3/4;
  object-fit: cover;
  max-height: 200px;
  border-radius: 0.5rem;
}

.noImage {
  aspect-ratio: 3/4;
  object-fit: cover;
  max-height: 200px;
  border-radius: 0.5rem;
}

.noImage > * {
  color: var(--secondary-bg);
  height: 200px;
}

.peopleContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.peopleName {
  margin-block: 0.3rem;
  color: var(--accent);
}

.peopleDepartment {
  margin-block: 0.3rem;
  color: var(--font-accent);
}

.movieSpan {
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 0.8rem;
  text-overflow: ellipsis;
  color: var(--font-accent);
  border-bottom: 1px solid var(--secondary-font);
}

.knownForTitle {
  margin-block: 0.8rem 0.3rem;
  font-size: 0.9em;
  color: var(--font-accent);
}

.peopleDepartmentDescription {
  font-weight: 600;
}

.knownForContainer {
  display: grid;
  align-items: start;
  align-content: space-evenly;
  height: 100%;
}

.knownForList {
  list-style: none;
}
