.peopleItemContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  user-select: none;
}

.peoplePosterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peoplePoster {
  aspect-ratio: 3/4;
  object-fit: cover;
  max-height: 200px;
  border-radius: 0.5rem;
}

.peopleContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.peopleName {
  margin-bottom: 1rem;
  color: var(--accent);
}

.peopleDepartment {
  margin-top: 0em;
  color: var(--secondary-bg);
}

.movieSpan {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  text-overflow: ellipsis;
  color: var(--secondary-bg);
}

.knownForTitle {
  justify-self: start;
  margin-block: 0.5em 0.3em;
  color: var(--secondary-bg);
}

.peopleDepartmentDescription {
  font-weight: 600;
}

.knownForContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.knownForList {
  list-style: none;
}
