.heroContainer {
  height: 100%;
  width: 100%;
  padding: 1em 2em;
  background-color: var(--secondary-font);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(min(100%, 250px), 1fr));
}

.titlespan {
  font-size: 1.07em;
}

.title {
  text-align: center;
  font-size: 6em;
  line-height: 0.8em;
}
