.carousel-img-container {
  grid-column-start: 3;
  position: relative;
  margin-block: 1em;
  display: flex;
  justify-self: center;
  width: 100%;
  max-height: 220px;
  overflow: hidden;
  /* border-radius: 0.5rem; */
}

.carousel-gradient {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-image: linear-gradient(
    to left,
    var(--secondary-font) 1%,
    transparent 8%,
    transparent 92%,
    var(--secondary-font) 99%
  );
  top: 0;
  left: 0;
}

.slider-btn {
  all: unset;
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  cursor: pointer;
  z-index: 3;
  opacity: 0.5;
  color: var(--secondary-bg);
  transition: all 100ms ease-in;
}

.slider-btn:hover {
  transform: scale(1.2);
  opacity: 1;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}
