.carousel-img-container {
  grid-column-start: 3;
  position: relative;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  width: 100%;
  max-height: 220px;
  overflow: hidden;
}

.carouselTitle {
  position: absolute;
  color: var(--secondary-font);
}

.slider-btn {
  all: unset;
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  cursor: pointer;
  z-index: 3;
  opacity: 0.5;
  color: var(--accent);
  transition: all 100ms ease-in;
}

.slider-btn:hover {
  transform: scale(1.2);
  opacity: 1;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}
