.modeButton {
  border: none;
  padding: 0.3em 0.7em;
  color: var(--accent);
  /* color: var(--secondary-bg); */
  border-radius: 0.3em 0.3em 0 0;
  background-color: transparent;
  font-size: 1em;
  transition: background-color 200ms ease-in-out;
}

.modeButton:hover {
  background-color: var(--secondary-bg);
  cursor: pointer;
}

/* .modeButtonActive {
  border-bottom: 1px solid var(--accent);
} */
