.modesListContainer {
  height: 45vh;
  width: 100%;
  padding: 0.5em 3em;
  background-color: var(--main-bg-color);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10%), 1fr));
  user-select: none;
}

.searchTitleContainer {
  position: relative;
  height: 5vh;
  margin-block: 0.5em;
  margin-inline: 8em;
}

.modesSearchTitle {
  position: absolute;
  font-weight: 400;
  margin: 0;
  color: var(--font-accent);
  right: 0;
  translate: var(--_text-align, 0px);
  transition: translate 600ms cubic-bezier(0, 0.08, 0.24, 1.01);
}

.modesSearchTitle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  scale: 0.6 1;
  translate: var(--_underline-right, 0) 5px;
  transform-origin: bottom right;
  transition: translate 600ms cubic-bezier(0, 0.08, 0.24, 1.01);
  background: var(--secondary-bg);
}

.modesButtonContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-inline: 3em;
  border-bottom: 1px solid var(--secondary-bg);
}

.modesButtonContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  scale: var(--_width, 0.3333) 1;
  translate: var(--_left, 0px) 0;
  transform-origin: bottom left;
  transition: scale 300ms ease-in-out, translate 300ms ease-in-out;
  background: var(--accent);
}

.modeCard {
  display: flex;
  height: 100%;
  /* border: 2px solid var(--accent);
  border-radius: 0.5rem; */
  transition: background-color 150ms ease-in-out;
}

.expandedCard {
  grid-column: span 4;
  position: relative;
  align-items: center;
}

/* TODO: underline animation on hover to title */
.modeCard:not(.expandedCard):hover {
  background-color: var(--secondary-bg);
  cursor: pointer;
}

.modeTitle {
  margin: auto;
  font-weight: 500;
  color: var(--accent);
}

.onSearchModeTitle {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.modeExplanation {
  text-align: center;
  margin-inline: 3em;
  color: var(--accent);
}
