.modeButton {
  border: none;
  width: 100%;
  padding: 0.4em 0.8em;
  color: var(--font-accent);
  border-radius: 0.2em 0.2em 0 0;
  background-color: transparent;
  /* border: 1px solid var(--secondary-bg); */
  font-size: 1em;
  transition: background-color 200ms ease-in-out;
}

.modeButton:hover {
  background-color: #8782677e;
  cursor: pointer;
}

/* .modeButtonActive {
  border-bottom: 1px solid var(--accent);
} */
