.searchBackGradient {
  padding: 0em 3em;
  height: 10vh;
  background: linear-gradient(
    to bottom,
    var(--secondary-font) 10%,
    transparent 99%
  );
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  padding-inline: 0.5em;
  border-radius: 0.5rem;
  background-color: var(--secondary-bg);
}

.inputContainer {
  width: 4%;
  padding: 0.2em 0.5em;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 80%;
  background-color: var(--main-bg-color);
  border: 1px solid var(--accent);
  border-radius: 0.5em;
  transition: width 1000ms ease-in-out, margin-right 1000ms ease-in-out;
}

.activeInputContainer {
  justify-content: space-around;
  width: 45%;
  margin-right: 25%;
}

.searchInput {
  padding: 1em 1em;
  display: none;
  width: 0;
  height: 0;
  color: var(--accent);
  background-color: var(--secondary-font);
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  font-weight: 600;
  transition: all 1000ms ease-in-out;
}

.activeSearchInput {
  display: block;
  width: 90%;
  height: 80%;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--accent);
}

.searchIcon:hover,
.closeIcon {
  cursor: pointer;
}

.closeIcon {
  /* opacity: 0; */
  font-size: 1.25em;
  font-weight: 500;
  color: var(--main-bg-color);
}

.activeCloseIcon {
  opacity: 1;
}
