.titleContainer {
  padding: 10px 20px;
}

.movieListContainer {
  padding: 0.5rem 0.5rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.poster {
  width: 100%;
  /* height: fit-content; */
  object-fit: cover;
  border-radius: 5px;
}
