.formDiv {
  min-height: 45svh;
  padding: 1em 1em;
  background-color: var(--secondary-font);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(min(100%, 250px), 1fr));
}

.title {
  justify-self: start;
  padding-inline: 1rem;
  font-size: 6rem;
}

/* TODO: check autocomplete */
input {
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
  color: var(--main-bg-color);
  background-color: var(--main-font-color);
  border: none;
}
input:focus {
  outline: none;
}
