.searchBackGradient {
  padding: 0.5em 2em;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--secondary-font) 15%,
    transparent 100%
  );
}

.searchContainer {
  border-radius: 1em;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(min(100%, 250px), 1fr));
  background-color: var(--accent);
}

.searchIcon {
  grid-column-start: 3;
  justify-self: end;
  font-size: 2em;
  font-weight: 500;
}

.searchIcon {
  color: var(--main-font);
}
